.container {
  height: 150px;
  overflow-y: hidden;
}

.group {
  animation: spin 40s infinite linear;
  animation-delay: 1s;
}

@keyframes spin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
